.footer-container {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.subscribe-list {
  display: flex;
  align-items: center;
}
.subscribe-title {
  font-family: var(--main-font);
  @include font(14px, 700, 1.14);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscribe-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  background: rgba(255, 255, 255, 0.1);
}
