.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  @include font(44px, 900, 1.36, 0.06em);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
