.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: var(--main-font);
  color: var(--title-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
